.hapus {
    background-color: red;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    
}
.ubah {
    background-color: blue;
    color: white;
    margin-left: 5px;
}
.tambah {
    background-color: turquoise;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}

